@if(contactForm!=null) {

<div id="full-cover-background" class="flex justify-center items-center bg-gray-100">


    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

        <div id="centered-block" class="bg-white max-w-lg p-6 rounded-xl shadow-md w-100 text-center mt-20 mb-20">

            <div mat-card-avatar class="text-center">
                <img [src]="contactForm.value.image" class="w-30 h-30 rounded-full">
            </div>
            <div class="text-center mb-15 mt-7">
                <h3 >Edit contact</h3>
            </div>

            <div id="champs" class="flex flex-col gap-5">
            <div id="name-cont">
                <mat-form-field appearance="outline" class="w-70">
                    <mat-label>Nom</mat-label>
                    <input matInput formControlName="nom" type="text" placeholder="nom" />
                </mat-form-field>
            </div>

            <div id="surname-cont">
                <mat-form-field appearance="outline" class="w-70">
                    <mat-label>Prénom</mat-label>
                    <input matInput formControlName="prenom" type="text" placeholder="prénom" />
                </mat-form-field>
            </div>

            <div id="email-cont">
                <mat-form-field appearance="outline" class="w-70">
                    <mat-label>Adresse mail</mat-label>
                    <input matInput formControlName="email" type="email" placeholder="email" />
                </mat-form-field>
            </div>

            <div id="tel-cont">
                <mat-form-field appearance="outline" class="w-70">
                    <mat-label>Téléphone</mat-label>
                    <input matInput formControlName="tel" type="tel" placeholder="tel" />
                </mat-form-field>
            </div>
        </div>

        <div class="mt-7">
            <mat-card-actions>
                <button mat-raised-button type="submit">Save</button>
                <button mat-button (click)="onCancel()">Cancel</button>
            </mat-card-actions>
        </div>

        </div>
    </form>

</div>

}